li .glyphicon {
    margin-right: 10px;
}


li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  border: 0;
  border-bottom: 10px solid orange;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.navbar 
{
  background-color: white;
  box-shadow: 0px 5px 5px #888888;
  z-index: 2;
}


.navbar-light .navbar-brand {
  font-weight: 500;
  font-size: 29px;
  color: orange;
}
.nav-link {
  font-size: 13px;
  font-weight: bold;
}

/*
@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar 
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it 
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
*/
